@import 'material-icons.scss';

html .mdl-layout__tab-bar {
  width: 100%;
}

header {
  #title {
    width: 100%;
    
    h1 {
      margin: 0;
    }
  
    #version {
      text-align: right;
    }
  }
}

main {
  width: 100%;
  
  section {
    width: 80%;
    margin: 1rem auto;
    
    .version {
      text-align: right;
    }
  }
}

.left-right {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  > div {
    flex: 1;
  }

  > .command {
    flex: 2;
  }
}
